.contact-container {
  gap: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: 100vh;
  background-color: transparent;
  
}

.contact-form {
  opacity: 0.8  ;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px;
}
form h2{
  color: #000;
  margin-bottom: 15px;
}
.contact-input, .contact-textarea {
  color: black;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: transform 0.6s linear;
}
.contact-input:hover, .contact-textarea:hover{
  transition: transform 0.6s linear;
  border:2px solid rgb(0, 0, 0);
}
.contact-textarea {
  min-height: 100px;
  resize: vertical;
}

.contact-button {
  z-index: -11;
  width: 100%;
  background: gray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact-button:hover {
  background: #0056b3;
}
iframe{border: none;
  min-height: 500px;
  margin: 0;
  width:100%;
  
}